html, body {
  background-color: #040424;
  color: #2080C0;
}

.bg-white{
  background-color: #040424 !important;
}

.shadow-sm {
  box-shadow: 0 0.125rem 0.25rem rgba(111, 181, 227, 0.8) !important;
}

.navbar-light .navbar-brand {
  color: #2080C0;
}

.navbar-light .navbar-nav .nav-link {
  color: #2080C0;
}

.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
  color: #6fb5e3;
  text-shadow: 0px 2px 10px rgba(111, 181, 227, 0.8),
    0px 5px 50px rgba(111, 181, 227, 0.8),
    0px 8px 80px rgba(111, 181, 227, 0.6),
    0px 8px 120px rgba(111, 181, 227, 0.6);
}

.navbar-light .navbar-brand:hover, .navbar-light .navbar-brand:focus {
  color: #6fb5e3;
  text-shadow: 0px 2px 10px rgba(111, 181, 227, 0.8),
    0px 5px 50px rgba(111, 181, 227, 0.8),
    0px 8px 80px rgba(111, 181, 227, 0.6),
    0px 8px 120px rgba(111, 181, 227, 0.6);
}

.card{
  background-color: #040424;
  border: 1px solid #2080C0;
}

.card-header{
  border-bottom: 1px solid #2080C0;
}

.link{
  color: #2080C0;
}

button.submit-btn{
  display: inline-block;
  padding: .5em 4em;
  color: #2080C0;
  text-align: center;
  text-decoration: none;
  background: #040424;
  outline: none;
  border: 0 solid;
  border-radius: 5px;
  box-shadow: inset 0 0 20px rgba(111,181,227,0);
  outline: 2px solid;
  outline-color: #2080C0;
  outline-offset: 0;
  transition: all 1s cubic-bezier(0.19,1,.22,1);
}

button.submit-btn:hover {
  border: 2px solid;
  box-shadow: inset 0 0 20px rgba(111,181,227,.5), 0 0 20px rgba(111,181,227,.2);
  outline-color: rgba(111,181,227,0);
  outline-offset: 15px;
}

input{
  color: rgba(255,255,255,.7);
  background-color: rgba(111,181,227,.1) !important;
  border: 1px solid #2080C0;
}

input:focus{
  color: rgba(255,255,255,.7);
  background-color: transparent !important; 
}

textarea{
  color: rgba(255,255,255,.7);
  background-color: rgba(111,181,227,.1) !important;
  border: 1px solid #2080C0;
}

textarea:focus{
  color: rgba(255,255,255,.7);
  background-color: transparent !important; 
}

.dropdown-menu{
  background-color: #040424;
  border: 1px solid #2080C0;
  box-shadow: 0 0 8px rgba(111, 181, 227, 0.8) !important;
}

.dropdown-item{
  color: #2080C0;
}

.dropdown-item:hover,.dropdown-item:focus{
  color: #2080C0;
  background-color: #040424;
}

.no-decoration-button{
  color: #2080C0;
}

.card-header{
  background-color: rgba(111, 181, 227, 0.1)
}