#icon-image{
    width: 200px;
    height:200px;
}

table.profile{
    border-collapse: separate;
    border-spacing: 0px 8px;
    width:100%;
}

div.tag-area{
    width: 200px;
    height: 300px;
    overflow: scroll;
}

textarea.bio{
    resize: both;
}

span.user_tag_back{
    z-index: 10;
    position: relative;
    left: -25px;
    top: 25px;
    color:transparent;
    background-color: #D9EAFE;
}

input.user-tag{
    z-index: 20;
    position: relative;
    background-color:transparent;
    width:100%;
}

div.profile-tables{
    /*margin-right:auto; margin-left:auto; width:1000px;*/
}

ul.profile-tables{
    /*padding: auto;*/
    display:-webkit-flex;
    display:flex;
    list-style-type:none;
}

li.profile-image{
    position: relative;
    left: 50px;
    width: 600px;
}

li.profile-others{
    width:1000px;
}