#icon-image-small{
    width: 50px;
    height: 50px;
}

.box {
    margin: 10px 0;
    float: left;
    width: 100%;
  }

  .icon-img {
    max-width: 40%;
    float: left;
  }

  .right div {
    margin: 0;
    padding-left: 10px;
  }

  .right {
    width: 60%;
    float: left;
  } 

.card-header{
  padding: 0.75rem 0.75rem 0rem 1.25rem;
}

.group-nav{
  list-style: none;
  padding-inline-start: 0px;
  margin-block-end: 0px;
}

.group-nav li{
  width: 33%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

/*最低限タブが機能するのに必要なスタイル*/
.tab-item {
  display: none;
}

.is-active-item {
  display: block;
}

/*ここから下は見た目だけ*/
a {
  width:100%;
  display: block;
  color: inherit;
  text-decoration: none;
}

a:hover{
  text-decoration: none;
}

.tab-menu {
  font-size: 18px;
  padding: 5px;
  display: inline-block;
  opacity: 0.5;
}

.is-active-btn {
  opacity: 1;
  border-bottom: solid 1px #E0F2F7;
}

.tab-item {
  padding: 5px;
}

.name{
  font-size: 18px;
}