 /*body {
    background: #696969;
    color : #ff1493;
    font-family: Meiryo;
}

div{
    width : 300px;
    padding : 10px;
    /*text-align: left;*/
    /*margin: 30px auto;
}

td[colspan="2"]{
    top : 100px;
    text-align:center;
}*/

.make-group a {
    font-size: 20px;
  }

table.join-group {
    border-collapse: separate;
    border-spacing: 10px;
}

tr.join-group {
    text-align: center;
    vertical-align: middle;
}

button.join-group {
    width: 100%;
}