/*.make-group a {
    font-size: 20px;
  }

table.join-group {
    border-collapse: separate;
    border-spacing: 10px;
}

tr.join-group {
    text-align: center;
    vertical-align: middle;
}

button.join-group {
    width: 100%;
}*/

.login-body{
    /*text-align: center;*/
    display: inline-block;
}

table{
    /*margin:auto;*/
}