/*.make-group a {
    font-size: 20px;
  }

table.join-group {
    border-collapse: separate;
    border-spacing: 10px;
}

tr.join-group {
    text-align: center;
    vertical-align: middle;
}

button.join-group {
    width: 100%;
}*/

.login-body{
    /*text-align: center;*/
    /*display: inline-block;*/
}

.container{
    text-align: center;
    /*display: inline-block;*/
}

table{
    margin:auto;
    text-align: left;
    border-spacing: 20px;
}

.form-control{
    border:none;
    border-radius:10px;
    box-shadow: none;
    padding: 2px 8px;
    width:300px;
  }
  
  .form-control:focus {
    outline: none;
  }

  .form-check{
      position: relative;
      top:10px;
      font-size:14px;
  }

  .submit-btn{
      position: relative;
      top:10px;
      text-align: center;
  }

  .forget-paswd{
      text-align: right;
      top:100px;
      font-size:14px;
  }

  .dummy{
    height:10px;
  }

.submit-btn{
    width:100px;
    height:50px;
    margin:auto;
}

  .login-btn{
    position: relative;
    text-align: center;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;

    display: inline-block;
    padding: 20px 20px;
    border: solid 0.5px #2080C0;
    background: rgba(0,0,0,0);
    color: #2080C0;
    text-decoration: none;
    font-weight: bold;
  }

.login-btn::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 50px;
    border-radius: 50%;
    box-shadow: none;
}

.login-btn:hover::after {
    -webkit-animation: ripple 1.5s ease;
    animation: ripple 1.5s ease;
}

.login-btn::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 50px;
    border-radius: 50%;
    box-shadow: none;
}

.login-btn:hover::after {
    -webkit-animation: ripple 1.5s ease .3s;
    animation: ripple 1.5s ease .3s;
}

@-webkit-keyframes ripple {
    0%{opacity:1;-webkit-transform:scale(1);transform:scale(1);box-shadow: 0 0 0 1px #6fb5e3;}
    100%{opacity:0;-webkit-transform:scale(2);transform:scale(2);text-shadow: 0px 2px 10px rgba(111, 181, 227, 0.8),
        0px 5px 50px rgba(111, 181, 227, 0.8),
        0px 8px 80px rgba(111, 181, 227, 0.6),
        0px 8px 120px rgba(111, 181, 227, 0.6) #6fb5e3;}
}

@keyframes ripple {
    0%{opacity:1;-webkit-transform:scale(1);transform:scale(1);box-shadow: 0 0 0 1px #6fb5e3;}
    100%{opacity:0;-webkit-transform:scale(2);transform:scale(2);  
        text-shadow: 0px 2px 10px rgba(111, 181, 227, 0.8),
          0px 5px 50px rgba(111, 181, 227, 0.8),
          0px 8px 80px rgba(111, 181, 227, 0.6),
          0px 8px 120px rgba(111, 181, 227, 0.6) #6fb5e3;}
}