.align-left{
    text-align: left;
    padding: 0px 0px 0px 10px;
}

table, th, td {
    border: none;
}

#icon-image-small{
    width: 50px;
    height: 50px;
}

.overview{
    font-size: 1.2rem;
}

.name{
    font-weight: 700;
}

.flex{
    justify-content: flex-start;
}

.box {
    margin: 10px 0;
    float: left;
    width: 100%;
  }

  .bottom-line{
    border-bottom: 1px solid #2080C0;
  }

  .icon-img {
    max-width: 40%;
    float: left;
  }
  .right div {
    margin: 0;
    padding-left: 10px;
  }
  .right {
    width: 60%;
    float: left;
  } 

  .great-good-button{
      width: 22px;
  }

  .great-good-button:hover{
    color: rgb(229, 255, 0);
    text-shadow: 0px 2px 10px rgb(229, 255, 0, 0.8),
    0px 5px 50px rgb(229, 255, 0, 0.8),
    0px 8px 80px rgb(229, 255, 0, 0.6),
    0px 8px 120px rgb(229, 255, 0, 0.6);
  }

  .great-good-button-color{
    color: rgb(229, 255, 0);
    text-shadow: 0px 2px 10px rgb(229, 255, 0, 0.8),
    0px 5px 50px rgb(229, 255, 0, 0.8),
    0px 8px 80px rgb(229, 255, 0, 0.6),
    0px 8px 120px rgb(229, 255, 0, 0.6);
  }

.good-button{
    width: 22px;
}

.good-button:hover{
    color: rgb(255, 51, 102);
    text-shadow: 0px 2px 10px rgb(255, 51, 102, 0.8),
    0px 5px 50px rgb(255, 51, 102, 0.8),
    0px 8px 80px rgb(255, 51, 102, 0.6),
    0px 8px 120px rgb(255, 51, 102, 0.6);
  }

  .good-button-color{
    color: rgb(255, 51, 102);
    text-shadow: 0px 2px 10px rgb(255, 51, 102, 0.8),
    0px 5px 50px rgb(255, 51, 102, 0.8),
    0px 8px 80px rgb(255, 51, 102, 0.6),
    0px 8px 120px rgb(255, 51, 102, 0.6);
  }

  .first-reaction-button{
    margin: 10px 0;
    float: left;
    width: 50%;
  }

  .second-reaction-button{
    margin: 10px 0;
    float: left;
    width: 50%;
  }

  .message-textarea{
    border: none;
    background-color: transparent;
    width: 100%;
  }

  .message-textarea:focus{
    outline: none;
  }

  ::-webkit-resizer {
    display: none;
}

.add-image-button{
  margin: 0 0px;
  width: 130px;
  float: left;
  text-align: left;
}

.send-message-button{
  float: right;
}

.message-image{
  width:100px;
  height:100px;
}